<div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <app-sidebar></app-sidebar>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <app-topbar></app-topbar>

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Gestion des Agents</h1>
                    </div>
                    <div>
                        <a [routerLink]="['/add-user']" class="btn btn-sm btn-primary mb-2">Ajouter Agent</a>
                    </div>

                </div>
                <div class="col ml-2">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary"> Liste des agents </h6>
                        </div>

                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Prénom </th>
                                        <th>Nom</th>
                                        <th>Email</th>
                                        <th>Role</th>

                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of userList ;let i= index">
                                        <td class="align-middle">{{user.id}}</td>

                                        <td class="align-middle">{{user.firstName}}</td>
                                        <td class="align-middle">{{user.lastName}}</td>
                                        <td class="align-middle">{{user.email}}</td>
                                        <td class="align-middle">{{user.role}}</td>

                                        <td class="align-middle">

                                            <a [routerLink]="['/update-user',user._id]" class="btn btn-sm btn-warning mr-2">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <button (click)="deleteUser(user)" class="btn btn-sm btn-danger">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div *ngIf="userList.length == 0" class="alert alert-warning">Aucun agent trouvé</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>