<div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <app-sidebar></app-sidebar>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <app-topbar></app-topbar>
                <div class="container-fluid">

                    <!-- Page Heading -->

                    <!-- DataTales Example -->

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">


                            <table class="table " id="dataTable" widtd="100%" cellspacing="0">
                                <tr>
                                    <td>
                                        <h6 class="m-0 font-weight-bold text-primary">ID Analyse :
                                            {{analyse.analyseNumber}}
                                        </h6>
                                    </td>


                                </tr>



                                <tr>
                                    <td> Date de prélèvement : {{analyse.createdAt | date}} </td>
                                    <td> Heure de prélèvement : {{analyse.createdAt | date:'shortTime'}}</td>
                                </tr>

                                <tr>
                                    <td>Fournisseur : {{analyse.fournisseur?.firstName }}
                                        {{analyse?.fournisseur.lastName
                                        }} </td>
                                    <td>Camion : {{analyse.camion?.matricule }} {{analyse.camion?.typeCamion }}</td>
                                    <td>Citerne : {{analyse.citerne?.Num_order }}</td>


                                </tr>


                            </table>
                            <div class=" text-danger text-center">
                                <b> Décision :</b>
                            </div>
                            <div class="alert alert-success text-center" *ngIf="analyse.decision == 'Accepte' ">
                                Accepté
                            </div>

                            <div class="alert alert-danger text-center" *ngIf="analyse.decision == 'Refuse'">
                                Refusé
                            </div>
                        </div>

                    </div>

                </div>




            

            </div>
            <div class="panel panel-default text-center">
                <div class="panel-body">

                    <button class="btn btn-sm btn-success"  target="_blank"> <i
                            class="mr-1 fa fa-print text-primary-m1 text-120 w-2"></i> Imprimer</button>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</div>