<div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <app-sidebar></app-sidebar>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <app-topbar></app-topbar>

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Bons des Vidages</h1>
                    </div>


                </div>
                <div class="col ml-2">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary"> Liste des Bons des Vidages </h6>
                        </div>

                        <div class="card-body">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Id</th>




                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let analyse of anaylseList">
                                        <td class="align-middle">{{analyse._id}}</td>





                                        <td class="align-middle">

                                            <button class="btn btn-sm  btn-info mx-3" data-toggle="modal"
                                                data-target="#exampleModal" (click)="getAnaylyse(analyse)">
                                                détails
                                                <i class="fa-solid fa-circle-info"></i>
                                            </button>
                                  
            </tr>
            </tbody>
            </table>
            <div *ngIf="anaylseList.length == 0" class="alert alert-warning">Aucune Analyse trouvé</div>
        </div>
    </div>
</div>
</div>
<!-- End of Main Content -->

<!-- Footer -->

<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>



<!-- End of Page Wrapper -->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">
                          Bon Vidage
                      </h5>
                      <button type="button" class="close" data-dismiss="modal"
                          aria-label="Fermer">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
<tbody>
<div class="card shadow mb-4">
  <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Analyse Numéro :
          {{analyse.analyseNumber}}
      </h6>
      <br>

      <table class="table " id="dataTable" widtd="100%" cellspacing="0">
          <tr>
              <td> Date de prélèvement : {{analyse.createdAt | date}} </td>
              <td> Heure de prélèvement : {{analyse.createdAt | date:'shortTime'}}
              </td>
          </tr>
          <tr>
              <td>Fournisseur : {{analyse.fournisseur?.firstName }}
                  {{analyse.fournisseur?.lastName
                  }} </td>
              <td>Camion : {{analyse.camion?.matricule }}
                  {{analyse.camion?.typeCamion }}</td>
              <td>Citerne : {{analyse.citerne?.Num_order }}</td>


          </tr>


      </table>
  </div>


</div>

</tbody>

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>

</div>
</div>
</div>

</div>
<!--End of  Modal -->