<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="ti-settings" *ngIf="adminIsLogged"></i>
        </div>
        <div class="sidebar-brand-text mx-3" *ngIf="adminIsLogged">Espace Admin </div>
        <div class="sidebar-brand-text mx-3" *ngIf="agentReceptionisLogged">Espace Agent-reception </div>
        <div class="sidebar-brand-text mx-3" *ngIf="agentAnalyserisLogged">Espace Agent-Analyser </div>
        <div class="sidebar-brand-text mx-3" *ngIf="agentReceptionisLogged">Espace Agent-reception </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active" *ngIf="adminIsLogged">
        <a class="nav-link" routerLink="/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <li class="nav-item active" *ngIf="agentReceptionisLogged">
        <a class="nav-link" routerLink="/espace-agentReception">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <li class="nav-item active" *ngIf="agentAnalyserisLogged">
        <a class="nav-link" routerLink="/espace-agentAnalyser">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>

    <li class="nav-item active" *ngIf="agentFacturationisLogged">
        <a class="nav-link" routerLink="/espace-agentFacturation">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>


    <!-- Admin items -->


    <li class="nav-item" *ngIf="adminIsLogged">
        <a class="nav-link" [routerLink]="['/list-user']">
            <i class="fas fa-fw fa-users"></i>
            <span>Gestion des Agents</span></a>
    </li>
    <li class="nav-item" *ngIf="adminIsLogged">
        <a class="nav-link" [routerLink]="['/list-fournisseur']">
            <i class="fas fa-fw fa-users"></i>
            <span>Gestion des Fournisseurs</span></a>
    </li>
    <li class="nav-item" *ngIf="adminIsLogged">
        <a class="nav-link" [routerLink]="['/list-analyses']">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Gestion des Types d'anlyse</span></a>
    </li>


    <!-- Agent reception items -->

    <li class="nav-item" *ngIf="agentReceptionisLogged">
        <a class="nav-link" [routerLink]="['/list-camion']">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Gestion des Camions </span></a>
    </li>


    <li class="nav-item" *ngIf="agentReceptionisLogged">
        <a class="nav-link" [routerLink]="['/list-citerne']">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Gestion des Citernes </span></a>
    </li>

    <li class="nav-item" *ngIf="agentReceptionisLogged">
        <a class="nav-link" [routerLink]="['/']">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Gestion des bons de réceptions </span></a>
    </li>

    <li class="nav-item" *ngIf="agentReceptionisLogged">
        <a class="nav-link" [routerLink]="['/']">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Gestion des bons de vidage </span></a>
    </li>


    <!-- Agent Anyalser items -->
    <li class="nav-item" *ngIf="agentAnalyserisLogged">
        <a class="nav-link" [routerLink]="['/list-analyse']">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Gestion des Bons d'anlyses</span></a>
    </li>

    <!-- Agent Facturation items -->

    <li class="nav-item" *ngIf="agentFacturationisLogged">
        <a class="nav-link" [routerLink]="['/']">
            <i class="fas fa-fw fa-tasks"></i>
            <span>Gestion les Factures</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>