<div id="page-top">
    <!-- Page Wrapper -->

    <div id="wrapper">
        <!-- Sidebar -->

        <app-sidebar></app-sidebar>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->

            <div id="content">
                <!-- Topbar -->

                <app-topbar></app-topbar>
                <!-- End of Topbar -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Ajouter Un Agent</h1>
                    </div>

                </div>
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Add Agent details</h6>
                        </div>

                        <div class="card-body">
                            <form [formGroup]="userForm" (ngSubmit)="addUser()">
                                <div class="form-group">
                                    <label for="name" id="name">Prénom : </label>
                                    <input type="text" class="form-control" formControlName="firstname">

                                </div>
                                <div>
                                    <div class="form-group">
                                        <label for="description" id="desc">Nom : </label>
                                        <input type="text" class="form-control" formControlName="lastname">

                                    </div>
                                    <div class="form-group">
                                        <label for="Email" id="Email">Email : </label>
                                        <input type="email" class="form-control" formControlName="email">

                                    </div>
                                    <div class="form-group">
                                        <label for="password" id="password">Mot de passe : </label>
                                        <input type="password" class="form-control" formControlName="password">

                                    </div>
                                    <div class="form-group">
                                        <label>Type d'Agent : </label>
                                        <select class="custom-select" formControlName="role">
                                            <option hidden selected value="">--Choisir un agent--</option>
                                            <option value="agentAnalyser">Agent Analyser</option>
                                            <option value="agentReception">agent Reception</option>
                                            <option value="agentFacturation">agent Facturation</option>

                                        </select>
                                    </div>


                                    <button class="btn btn-sm btn-primary mt-3" type="submit"
                                        [disabled]="userForm.invalid">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>