<div id="page-top">
    <!-- Page Wrapper -->

    <div id="wrapper">
        <!-- Sidebar -->

        <app-sidebar></app-sidebar>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->

        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->

            <div id="content">
                <!-- Topbar -->

                <app-topbar></app-topbar>
                <!-- End of Topbar -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Modifier Un Fourniseur</h1>
                    </div>

                </div>
                <div class="col">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Modifier Fourniseur details</h6>
                        </div>

                        <div class="card-body">
                            <form [formGroup]="fourForm" (ngSubmit)="updateFourni()">
                                <div class="form-group">
                                    <label for="name" id="name">Prénom : </label>
                                    <input type="text" class="form-control" formControlName="firstname">
                                    <div *ngIf="firstname?.touched && firstname?.invalid">
                                        <small class="text-danger" *ngIf=" firstname?.errors?.['required']">prénom
                                            est obligatoire</small>

                                    </div>

                                </div>
                                <div>
                                    <div class="form-group">
                                        <label for="description" id="desc">Nom : </label>
                                        <input type="text" class="form-control" formControlName="lastname">
                                        <div *ngIf="lastname?.touched && lastname?.invalid">
                                            <small class="text-danger" *ngIf=" lastname?.errors?.['required']">nom
                                                est obligatoire</small>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="Email" id="Email">Email : </label>
                                        <input type="email" class="form-control" formControlName="email">
                                        <div *ngIf="email?.touched && email?.invalid">
                                            <small class="text-danger" *ngIf=" email?.errors?.['required']">e-mail
                                                est obligatoire</small>
                                            <small class="text-danger" *ngIf="email?.errors?.['email']">e-mail est
                                                inccorect
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Cin : </label>
                                        <input type="number" class="form-control" formControlName="cin">
                                        <div *ngIf="cin?.touched && cin?.invalid">
                                            <small class="text-danger" *ngIf="cin?.errors?.['required']">Cin
                                                est obligatoire</small>
                                            <small class="text-danger" *ngIf="cin?.errors?.['minlength']">Cin contient 8
                                                chiffres
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Numéro de Télephone : </label>
                                        <input type="number" class="form-control" formControlName="number">
                                        <div *ngIf="number?.touched && number?.invalid">
                                            <small class="text-danger" *ngIf=" number?.errors?.['required']">num
                                                est obligatoire</small>
                                            <small class="text-danger" *ngIf="number?.errors?.['max']">num contient 8
                                                chiffres
                                            </small>
                                            <small class="text-danger" *ngIf="number?.errors?.['min']">num
                                                contient 8
                                                chiffres
                                            </small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Rue : </label>
                                        <input type="text" class="form-control" formControlName="street">
                                        <div *ngIf="street?.touched && street?.invalid">
                                            <small class="text-danger" *ngIf=" street?.errors?.['required']">Rue
                                                est obligatoire</small>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Ville : </label>
                                        <input type="text" class="form-control" formControlName="city">
                                        <div *ngIf="city?.touched && city?.invalid">
                                            <small class="text-danger"
                                                *ngIf=" city?.errors?.['required']">Ville
                                                est obligatoire</small>

                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label> Gouvernorat : </label>
                                        <input type="text" class="form-control" formControlName="country">
                                        <div *ngIf="country?.touched && country?.invalid">
                                            <small class="text-danger"
                                                *ngIf=" country?.errors?.['required']">Gouvernorat
                                                est obligatoire</small>

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Code postal : </label>
                                        <input type="number" class="form-control" formControlName="zipCode">
                                        <div *ngIf="zipCode?.touched && zipCode?.invalid">
                                            <small class="text-danger" *ngIf=" zipCode?.errors?.['required']">Code
                                                postal
                                                est obligatoire</small>

                                        </div>
                                    </div>



                                    <button class="btn btn-sm btn-primary mt-3" type="submit">Modifier</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>