<div id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <app-sidebar></app-sidebar>


        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <app-topbar></app-topbar>
                <div class="container-fluid">

                    <!-- Page Heading -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Analyse Numéro : {{analyse.analyseNumber}}
                            </h6>
                         <br>
                        
                            <table class="table " id="dataTable" widtd="100%" cellspacing="0">

                                <tr>
                                    <td>Fournisseur : {{analyse.fournisseur.firstName}}  {{analyse.fournisseur.lastName}} </td>
                                    <td>Camion : {{analyse.camion.matricule }} {{analyse.camion.typeCamion }}</td>
                                    <td>Citerne : {{analyse.citerne?.Num_order }}</td>


                                </tr>
                                <tr>
                                    <td> Date de prélèvement : {{analyse.createdAt | date}} </td>
                                    <td> Heure de prélèvement : {{analyse.createdAt | date:'shortTime'}}</td>
                                </tr>

                            </table>
                        </div>

                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" widtd="50%" cellspacing="2">
                                    <thead>
                                        <tr>
                                            <th>Paramètres</th>
                                            <th>Résultats</th>
                                            <th>Limites d'acceptation </th>


                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td>Température (°C)</td>
                                            <td>{{analyse.temperature}}</td>
                                            <td> &lt;10 </td>
                                        </tr>
                                        <tr>
                                            <td>densité</td>
                                            <td>{{analyse.densite}}</td>
                                            <td>> = 1028 </td>
                                        </tr>

                                        <tr>
                                            <td>Matière grasse</td>
                                            <td>{{analyse.matiereGrasse}}</td>
                                            <td> > = 30</td>
                                        </tr>

                                        <tr>
                                            <td>ESD %</td>
                                            <td>{{analyse.ESD}}</td>
                                            <td> --- </td>
                                        </tr>

                                        <tr>
                                            <td>Congélation (°C)</td>
                                            <td>{{analyse.congelation}}</td>
                                            <td>-0.520</td>
                                        </tr>

                                        <tr>
                                            <td>Pourcentage d'eau</td>
                                            <td>{{analyse.pourcentageEau}}</td>
                                            <td>1.5 ---- 5</td>
                                        </tr>

                                        <tr>
                                            <td>Acidité (° D) </td>
                                            <td>{{analyse.acidite}}</td>
                                            <td>14≤ acidité ≤16 </td>
                                        </tr>

                                        <tr>
                                            <td>PH (20°C)</td>
                                            <td>{{analyse.PH}}</td>

                                            <td>6,6≤ pH≤6,70 </td>
                                        </tr>

                                        <tr>
                                            <td>Alcool 72° </td>
                                            <td>{{analyse.alcool}}</td>
                                            <td>Négatif</td>
                                        </tr>

                                        <tr>
                                            <td>Formol (NT 14.43)</td>
                                            <td>{{analyse.formol}}</td>
                                            <td>Négatif</td>
                                        </tr>
                                        <tr>
                                            <td>Test Amidon</td>
                                            <td>{{analyse.testAmidon}}</td>
                                            <td>Négatif</td>
                                        </tr>
                                        <tr>
                                            <td>Antibiotique</td>
                                            <td>{{analyse.antibiotique}}</td>
                                            <td>Négatif</td>
                                        </tr>
                                        <tr>
                                            <td>Gout et odeur</td>
                                            <td>{{analyse.GoutEtOdeur}}</td>
                                            <td>Normal</td>
                                        </tr>
                                    </tbody>

                                </table>
                                <div class=" text-danger text-center" >
                                  <b>  Décision :</b>
                                </div>
                                <div class="alert alert-success text-center" *ngIf="analyse.decision == 'Accepte' ">
                                    Accepté
                                </div>

                                <div class="alert alert-danger text-center" *ngIf="analyse.decision == 'Refuse'">
                                    Refusé
                                </div>

                            </div>
                        </div>
                    </div>

                </div>







            </div>
            <!-- End of Main Content -->

            <!-- Footer -->

            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

</div>
